<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566275224242-e3jkn9f8l6e1h0fktsdr75v9m75h3b4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566275224242-e3jkn9f8l6e1h0fktsdr75v9m75h3b4o</string>
	<key>API_KEY</key>
	<string>AIzaSyDa3HDRR834oySPFDCcNstYsbFPZ8fz2jc</string>
	<key>GCM_SENDER_ID</key>
	<string>566275224242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartParkingApp</string>
	<key>PROJECT_ID</key>
	<string>smart-parking-1db99</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-parking-1db99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566275224242:ios:f127da8fa760940e48cfab</string>
</dict>
</plist>